django-debug-toolbar==2.0
gunicorn==19.4.5
whitenoise==4.1.2
Click    ==                          7.0        
Django    == 2.2.24      
django-filter ==                     2.2.0      
djangorestframework   ==             3.10.2     
djangorestframework-jsonp  ==        1.0.2      
itsdangerous                ==       1.1.0      
jsonschema                   ==      2.5.1      
Markdown                      ==     3.1.1      
MarkupSafe                      ==   1.1.1      
marshmallow                    ==    2.19.5     
matplotlib   ==                      3.1.1      
nap           ==                     2.0.0      
netifaces      ==                    0.10.9     
Pillow          ==                   6.1.0      
pip              ==                  19.2.2     
pipenv            ==                 2018.11.26 
psycopg2-binary    ==                2.8.3      
ptyprocess          ==               0.6.0      
pyasn1               ==              0.4.6      
pyasn1-modules        ==             0.2.6      
pyparsing              ==            2.4.0      
PySocks                 ==           1.6.8      
python-dateutil          ==          2.8.0      
python-dotenv             ==         0.10.3     
python-engineio            ==        3.8.2.post1
python-ldap                 ==       3.2.0      
python-socketio              ==      4.2.0      
pytz                          ==     2019.1     
PyYAML                         ==    3.12       
requests                        ==   2.22.0     
selenium    ==                       3.141.0    
Serializer   ==                      0.2.1      
serializers   ==                     0.2.4      
setuptools     ==                    41.0.1     
simplejson      ==                   3.16.0     
six              ==                  1.12.0     
socketIO-client   ==                 0.7.2      
sqlparse           ==                0.3.0      
termcolor           ==               1.1.0      
texttable            ==              1.6.2      
urllib3               ==             1.25.3     
virtualenv             ==            16.7.2     
virtualenv-clone        ==           0.5.3      
websocket-client         ==          0.56.0     
Werkzeug                  ==         0.15.5     
wheel                      ==        0.33.4     
